# Environment variables — NEVER commit these
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# GCP credentials
*.json
service-account*.json
gcloud/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
*.db

# GMAIL credentials
config/gmail_credentials.json
config/gmail_token.json
